<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mybooke">

	<!-- 친구 검색 -->
	<select id="searchMember" parameterType="memberDto" resultType="memberDto">
		SELECT BE_ID, BE_NN, BE_ROLE
		FROM BE_MEMBER
		WHERE BE_ID LIKE '%'|| #{searchid} ||'%'
		OR BE_NN LIKE '%'|| #{searchid} ||'%'
	</select>
  
  
  
  
  
  	<!-- 공지사항  -->
	<select id="selectList" resultType="noticeDto">
		SELECT BD_NO, BD_TITLE, BD_NN, BD_DATE
		FROM NOTICEBOARD 
	</select>
	
	<select id="selectOne" resultType="noticeDto">
		SELECT BD_NN, BD_TITLE, BD_CONTENT
		FROM NOTICEBOARD
		WHERE BD_NO = #{bd_no}
	</select>  
  
  </mapper>