@charset "UTF-8";

.header {
	padding: 0px 0px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgb(247, 240, 232);
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.logo {
	float: left;
    margin: 0px 0px 0px 50px;
    background-size: cover;
    width: 200px;
    height: 80px;
    position: relative;
    top: 10px;
}


.bo {
	background-color: rgb(119, 109, 097);
	position: fixed;
	width: 100%;
	top: 57px;
	height: 5px;
	left: 0px;
	z-index: 1;
}

.menu-area-main {
	position: fixed;
	left: 90%;
	z-index: 1;
	top: 1.4%;
}

.brown { 
	width:100%;
	height: 100px;
	background-color: rgb(119, 109, 097);
}

.chatbot {
	width: 100%;
	height: 400px;
	border: 1px solid black;
}