@charset "UTF-8";

#mainnav {
	background-color: rgb(252, 252, 255) !important;
}

#mainhd {
	background-color: rgb(119, 109, 97) !important;
}

#hddiv {
	background-color: rgb(119, 109, 97) !important;
	margin-top: 50px;
}

body {
	background-color: #f5f5f5 !important;
}

.col-lg-12 {
	flex: 0 0 68%;
	width: 100%;
}

.best_seller, .new_seller {
	height: 200px;
}

.best_category {
	width: 888px;
    height: 65px;
    background-color: rgb(181, 227, 216);
}

.new_category {
	width: 888px;
    left: 0px;
    top: 180px;
    height: 65px;
    background-color: rgb(181, 227, 216);
    position: relative;
}

.best_book, .new_book {
    width: 170px;
    height: 235px;
    
}

.best_book > img, .new_book > img{
	width: 100%;
	height: 100%;
	
}

.bb_1 {
	position: relative;
    top: 25px;
}

.bb_2 {
	position: relative;
    left: 180px;
    top: -210px;
}

.bb_3 {
	position: relative;
    left: 359px;
    top: -445px;
}

.bb_4 {
	position: relative;
    left: 539px;
    top: -680px;
}

.bb_5 {
	position: relative;
    left: 719px;
    top: -915px;
}

.bb_1_star, .bb_2_star, .bb_3_star, .bb_4_star, .bb_5_star {
	position: absolute;
    width: 170px;
    height: 35px;
    left: -1px;
    top: 233px;
}

.nb_1 {
	position: relative;
    top: 205px;
    left: 0px;
}

.nb_2 {
	position: relative;
    left: 179px;
    top: -30px;
}

.nb_3 {
	position: relative;
    left: 359px;
    top: -265px;
}

.nb_4 {
	position: relative;
    left: 538px;
    top: -500px;
}

.nb_5 {
	position: relative;
    left: 717px;
    top: -735px;
}

.nb_1_star, .nb_2_star, .nb_3_star, .nb_4_star, .nb_5_star {
	position: absolute;
    width: 170px;
    height: 35px;
    left: -1px;
    top: 233px;
}

.login_menu {
	position: absolute;
    background-color: rgb(119, 109, 97);
    left: -35px;
    top: -42px;
    height: 360px;
    width: 410px;
}

.btn {
	margin: 10px 0px 10px 0px;
	left: 10px;
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	z-index: 0;
	right: 20px;
}

.btn:hover {
	color: white;
	font-weight: bold;
	background-color: rgb(181, 227, 216);
	border-color: rgb(181, 227, 216);
}

.btn-check:checked+.btn-outline-primary {
	color: black !important;
	background-color: rgb(181, 227, 216) !important;
	border-color: rgb(181, 227, 216) !important;
	border: 3px solid white !important;
	z-index: 1 !important;
}

.btn-outline-primary {
	color: black !important;
	font-weight: bold !important;
	background-color: rgb(181, 227, 216) !important;
	border-color: rgb(181, 227, 216) !important;
}

.noting {
	position: relative;
    width: 886px;
    height: 500px;
    left: 12px;
    top: 370px;
}

.friend {
	position: absolute;
    width: 400px;
    height: 225px;
    background-color: rgb(198, 198, 198);
    top: 478px;
    left: -35px;
}

.login_img {
	border: 5px solid white;
	border-radius: 100%;
	width: 130px;
	height: 130px;
	margin: 20px;
}

.login_name {
	width: 200px;
	height: 100px;
	position: relative;
	left: 180px;
	top: -170px;
}

.login_mini_btn {
	border: 5px solid white;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin: 20px;
	background-color: rgb(181, 227, 216);
}

.login_nick, .read_book, .want_book {
	background-color: rgb(181, 227, 216);
	border: 5px solid white;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.read_book {
	border: 5px solid white;
	width: 170px;
	height: 125px;
	margin: 20px;
	position: relative;
	top: -90px;
}

.want_book {
	border: 5px solid white;
	width: 170px;
	height: 125px;
	position: relative;
	top: -235px;
	margin: 0px 0px 0px 210px;
}

.attainment {
	border: 5px solid white;
	background-color: rgb(181, 227, 216);
	width: 360px;
	height: 155px;
	position: relative;
	top: -233px;
	margin: 20px;
}

.circle {
	border: 5px solid white;
	border-radius: 100%;
	width: 80px;
	height: 80px;
}

.friend1, .friend4, .friend7 {
	position: relative;
	left: -10px;
	top: 110px;
}

.friend2, .friend5, .friend8 {
	position: relative;
	left: 100px;
	top: 30px;
}

.friend3, .friend6, .friend9 {
	position: relative;
	left: 210px;
	top: -50px;
}

.nickname{
	position: relative;
	top: 90px;
}

#youtube {
    position: relative;
    width: 888px;
    background-color: rgb(181, 227, 216);
    top: 365px;
    left: 13px;
    font-size: 30px;
}
