@charset "UTF-8";

<<<<<<< HEAD
#mainnav {
	background-color: rgb(252, 252, 255) !important;
}

#mainhd {
	background-color: rgb(119, 109, 97) !important;
}

#hddiv {
	background-color: rgb(119, 109, 97) !important;
	margin-top: 50px;
}

body {
	background-color: #f5f5f5;
}

.col-lg-12 {
	flex: 0 0 68%;
	width: 100%;
}

.best_seller, .new_seller {
	height: 200px;
}

.best_category {
	width: 620px;
	background-color: rgb(119, 109, 97);
}

.new_category {
	width: 620px;
	left: 0px;
	top: 30px;
	background-color: rgb(119, 109, 97);
	position: relative;
}

.best_book, .new_book {
	border: 1px solid black;
	width: 80px;
	height: 120px;
	position: relative;
}

.bb_1 {
	position: relative;
	top: 25px;
}

.bb_2 {
	position: relative;
	left: 100px;
	top: -95px;
}

.bb_3 {
	position: relative;
	left: 200px;
	top: -215px;
}

.bb_4 {
	position: relative;
	left: 300px;
	top: -335px;
}

.bb_5 {
	position: relative;
	left: 400px;
	top: -455px;
}

.bb_1_star, .bb_2_star, .bb_3_star, .bb_4_star, .bb_5_star {
	position: absolute;
	border: 1px solid black;
	width: 80px;
	height: 20px;
	left: -1px;
	top: 99px;
}

.nb_1 {
	position: relative;
	top: 55px;
	left: 0px;
}

.nb_2 {
	position: relative;
	left: 100px;
	top: -65px;
}

.nb_3 {
	position: relative;
	left: 200px;
	top: -185px;
}

.nb_4 {
	position: relative;
	left: 300px;
	top: -305px;
}

.nb_5 {
	position: relative;
	left: 400px;
	top: -425px;
}

.nb_1_star, .nb_2_star, .nb_3_star, .nb_4_star, .nb_5_star {
	position: absolute;
	border: 1px solid black;
	width: 80px;
	height: 20px;
	left: -1px;
	top: 99px;
}

.login_menu {
	position: absolute;
    background-color: rgb(119, 109, 097);
    left: -35px;
    top: -42px;
}

.btn {
	margin: 10px 0px 10px 0px;
	left: 10px;
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	z-index: 0;
}

.btn:hover {
	color: white;
	font-weight: bold;
	background-color: rgb(181, 227, 216);
	border-color: rgb(181, 227, 216);
}

.btn-check:checked+.btn-outline-primary {
	color: black;
	background-color: rgb(181, 227, 216);
	border-color: rgb(181, 227, 216);
	border: 3px solid white;
	z-index: 1;
}

.btn-outline-primary {
	color: white;
	font-weight: bold;
	background-color: rgb(119, 109, 097);
	border-color: rgb(119, 109, 097);
}

.noting {
	position: relative;
    width: 620px;
    height: 500px;
    border: 1px solid black;
    left: 12px;
    top: 100px;
}

.friend {
	position: absolute;
    width: 400px;
    height: 225px;
    background-color: rgb(119, 109, 097);
    top: 616px;
    left: -35px;
}

.login_btn {
	border: 5px solid white;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	margin: 24px;
	background-color: rgb(181, 227, 216);
}

.login_btn:hover, .login_mini_btn:hover {
	font-weight: bold;
}

.login_img {
	border: 5px solid white;
	border-radius: 100%;
	width: 130px;
	height: 130px;
	margin: 20px;
}

.login_name {
	width: 200px;
	height: 100px;
	position: relative;
	left: 180px;
	top: -170px;
}

.login_mini_btn {
	border: 5px solid white;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin: 20px;
	background-color: rgb(181, 227, 216);
}

.login_nick, .read_book, .want_book {
	background-color: rgb(181, 227, 216);
	border: 5px solid white;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.read_book {
	border: 5px solid white;
	width: 170px;
	height: 125px;
	margin: 20px;
	position: relative;
	top: -90px;
}

.want_book {
	border: 5px solid white;
	width: 170px;
	height: 125px;
	position: relative;
	top: -235px;
	margin: 0px 0px 0px 210px;
}

.attainment {
	border: 5px solid white;
	background-color: rgb(181, 227, 216);
	width: 360px;
	height: 155px;
	position: relative;
	top: -233px;
	margin: 20px;
}

.circle {
	border: 5px solid white;
	border-radius: 100%;
	width: 80px;
	height: 80px;
}

.friend1, .friend4, .friend7 {
	position: relative;
	left: -10px;
	top: 110px;
}

.friend2, .friend5, .friend8 {
	position: relative;
	left: 100px;
	top: 30px;
}

.friend3, .friend6, .friend9 {
	position: relative;
	left: 210px;
	top: -50px;
}

.nickname{
	position: relative;
	top: 90px;
=======
.d1 {
	width: 58%;
	height: 1500px;
	border: 1px solid black;
	position: absolute;
	border: 1px solid black;
	left: 10%;
}

.d2 {
	width: 400px;
	height: 692px;
	border: 1px solid black;
	position: fixed;
	left: 69%;
	right: 10%;
	border: 1px solid black;
	position: fixed;
	left: 69%;
}

.d3 {
	width: 400px;
	height: 200px;
	border: 1px solid black;
	position: fixed;
	left: 69%;
	top: 740px;
	right: 10%;
}

.a1 {
	height: 30%;
	border: 1px solid black;
	position: relative;
	margin: 20px 20px 20px 20px;
	border: 1px solid black;
	position: relative;
}

.a2 {
	height: 30%;
	border: 1px solid black;
	position: relative;
	margin: 20px 20px 20px 20px;
	border: 1px solid black;
	position: relative;
}

.a3 {
	height: 34%;
	border: 1px solid black;
	position: relative;
	margin: 20px 20px 20px 20px;
}

.c1 {
	width: 90px;
	height: 90px;
	border: 1px solid black;
	border-radius: 1000px;
	position: absolute;
	left: 5%;
	top: 4%;
}

.c2 {
	width: 90px;
	height: 90px;
	border: 1px solid black;
	border-radius: 100px;
	position: absolute;
	left: 39%;
	top: 4%;
}

.c3 {
	width: 90px;
	height: 90px;
	border: 1px solid black;
	border-radius: 100px;
	position: absolute;
	left: 73%;
	top: 4%;
}

.c4 {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	border-radius: 100px;
	position: absolute;
	left: 5%;
	top: 28%;
}

.c5 {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	border-radius: 100px;
	position: absolute;
	left: 60%;
	top: 34%;
}

.c6 {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	border-radius: 100px;
	position: absolute;
	left: 80%;
	top: 34%;
}

.c10 {
	width: 90px;
	height: 90px;
	border: 1px solid black;
	border-radius: 100px;
	position: absolute;
	left: 71%;
	top: 83%;
}

.c11 {
	width: 90px;
	height: 90px;
	border: 1px solid black;
	border-radius: 100px;
	position: absolute;
	left: 78.5%;
	top: 83%;
}

.c12 {
	width: 90px;
	height: 90px;
	border: 1px solid black;
	border-radius: 100px;
	position: absolute;
	left: 86%;
	top: 83%;
}

.tri-left span {
	position: relative;
}

.tri-left span::after {
	content: '';
	width: 25px;
	height: 25px;
	border-top: 5px solid #121212;
	border-right: 5px solid #121212;
	display: inline-block;
	transform: rotate(225deg);
	position: absolute;
	top: 766px;
	left: 1112px;
}

.tri-right span {
	position: relative;
}

.tri-right span::after {
	content: '';
	width: 25px;
	height: 25px;
	border-top: 5px solid #121212;
	border-right: 5px solid #121212;
	display: inline-block;
	transform: rotate(45deg);
	position: absolute;
	top: 84px;
	left: 378px;
}

.content {
	width: 350px;
	height: 150px;
	border: 1px solid black;
	position: absolute;
	left: 6%;
	top: 75%;
}

.r1 {
	width: 200px;
	height: 50px;
	border: none 10px;
	border-radius: 100px;
	position: absolute;
	left: 10%;
	top: 50%;
	font-size: 10px;
}

.r2 {
	width: 200px;
	height: 50px;
	border: none 10px;
	border-radius: 100px;
	position: absolute;
	left: 70%;
	top: 50%;
	font-size: 10px;
>>>>>>> main
}