<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.mvc.book.model.dto.MemberDto" alias="memberDto"/>	
  		<typeAlias type="com.mvc.book.model.dto.NoticeDto" alias="noticeDto"/>	  		
  		<typeAlias type="com.mvc.book.model.dto.FriendDto" alias="friendDto"/>	  		
  		<typeAlias type="com.mvc.book.model.dto.R_bookDto" alias="r_bookDto"/>	  		
		<typeAlias type="com.mvc.book.model.dto.W_bookDto" alias="w_bookDto"/>	  
  	</typeAliases>
  	
  	<mappers>
  		<mapper resource="/mybatis/board-mapper.xml"/>
   		<mapper resource="/mybatis/admin-mapper.xml"/>
   		<mapper resource="/mybatis/savedb-mapper.xml"/>

  	</mappers>
  	
  </configuration>